body {
    color:orange;
    font-style:normal;
    font-size: 22px;
    background-color:teal;
}

.style {
    background-color: teal;
}

.favorites{
    background-image: url("../images/pic.jpg");
    width:80%;
    background-size:contain;
    height: 80%;
    background-repeat: repeat;
    font-size: 72px;
    color:yellow;
    font-weight:bold;
    
}

.nav {
    border:1px orange;
    background-color:orange;
    color:white;
    padding:10px 20px;
    text-decoration: none;
    width: 100%;
    text-decoration: none;
}
a{
 text-decoration: none;
}